<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Staff login</title>
</head>
<body>
<div th:align="center">
    <h2>Schedule portal</h2>
</div>

<div th:if="${param.error}" th:align="center">
    Invalid username and password.
</div>
<div><br></div>
<div th:if="${param.logout}" th:align="center">
    You have been logged out.
</div>
<div><br></div>
<form th:action="@{/login}" method="post" th:align="center">
    <div><label> User Name: <input type="text" name="username"/> </label></div>
    <br>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <br>
    <div><input type="submit" value="Sign In"/></div>
</form>
</body>
</html>